body
{
    z-index: 0;
}

.jumbotron
{
    background-color: #e4e3e3;
}

footer
{
    background-color: #e4e3e3;
    padding-top: 20px;
}

.content-pad
{
    padding: 20px auto;
}

.navbar
{
    color: white;
    background-color: #3a4242;
}

.nav-item
{
    color: white;
    font-weight: 400;
}

div.content{
    margin: 4em 0em;
}


.btn-block,.sub-button
{
    background-color: #3a4242;
}

.tab-content
{
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.navtab
{
    margin: 30px auto;
}

